@page "/hospitalization"
@using System;
@using BlazorApp1.Models;
@rendermode RenderMode.InteractiveServer

<PageTitle>Hospitalization</PageTitle>

<section>
    <EditForm OnSubmit="@Submit" FormName="HospitalizationForm" Model="@hospitalization">
        <DataAnnotationsValidator />
        <h3>Госпитализация</h3>
        <p>
            <InputText placeholder="Код медицинской карты" @bind-Value="@medicalCald" />
        </p>
        <article>
            <p>ФИО: @patient.Surname @patient.Firstname @patient.Lastname</p>
            <p>Дата рождения: @patient.BirthDate</p>
            <p>Пол: @patient.Gender</p>
            <p>Адрес: @patient.Address</p>
            <p>Номер страхового полиса: @patient.InsurancePolicy</p>
            <p>Дата окончания страхового полиса: @patient.InsurancePolicyExpireDate</p>
            <p>Серия и номер паспорта: @patient.PassportSeriesAndNumber</p>
            <p>Номер телефона: +@patient.PhoneNumber</p>
            <p>Почта: @patient.Email</p>
        </article>
        <button onclick="@findPatient">Найти</button>
        <article>
            <p>
                <InputText placeholder="Название)" @bind-Value="hospitalization.EventName" />
                <ValidationMessage For="@(()=>hospitalization.EventName)" />
            </p>
            <p>
                <InputDate @bind-Value="hospitalization.EventDate" />
                <ValidationMessage For="@(()=>hospitalization.EventDate)" />
            </p>
            <p>
                <InputSelect class="select" @bind-Value="hospitalization.EvenetTime">
                    <option class="option" @value="09:00">09:00</option>
                    <option class="option" @value="10:00">10:00</option>
                </InputSelect>
                <ValidationMessage For="@(()=>hospitalization.EvenetTime)" />
            </p>
            <p>
                <InputSelect class="select" @bind-Value="hospitalization.EventType">
                    <option class="option" @value="Free">Free</option>
                    <option class="option" @value="For-a-fee">For-a-fee</option>
                </InputSelect>
                <ValidationMessage For="@(()=>hospitalization.EventType)" />
            </p>
        </article>
        <button type="submit">Подтвердить</button>
        <article>
            <p>@event_code</p>
        </article>
    </EditForm>
</section>

@code {
    Event hospitalization = new();
    Patient patient = new();
    Doctor doctor = new();
    string event_code = "";
    string medicalCald = null;
    public Hospitalization()
    {
        hospitalization.EventDate = DateOnly.FromDateTime(DateTime.Now);
        hospitalization.EvenetTime = "09:00";
        hospitalization.EventType = "Free";
    }
    void findPatient()
    {
        using(ClinicContext db = new())
        {
            Patient? p = db.Patients.Where(p=>p.MedicalCard==medicalCald).FirstOrDefault();
            if (p != null)
            {
                patient.Firstname = p.Firstname;
                patient.Surname = p.Surname;
                patient.Lastname = p.Lastname;
                patient.BirthDate = p.BirthDate;
                patient.Gender = p.Gender;
                patient.Address = p.Address;
                patient.PassportSeriesAndNumber = p.PassportSeriesAndNumber;
                patient.InsurancePolicy = p.InsurancePolicy;
                patient.InsurancePolicyExpireDate = p.InsurancePolicyExpireDate;
                patient.PhoneNumber = p.PhoneNumber;
                patient.Email = p.Email;
            }
        }
    }

    void Submit()
    {
        using(ClinicContext db = new())
        {
            Random r = new();
            string text = "";
            for(int i = 0; i < 10; i++)
            {
                text += (char)r.Next(97, 123);
            }
            event_code = text;
            hospitalization.EventCode = text;
            Patient ? patient = db.Patients.Where(p => p.MedicalCard == medicalCald).FirstOrDefault();
            hospitalization.PatientId = patient.PatientId;
            hospitalization.DoctorId = 1;
            db.Events.Add(hospitalization);
            db.SaveChanges();
        }
    }
}